.link
{
	color: yellow;
}
.error-msg{
	color: red;
	font-size: 20px;
}
body{
	background-color: #777;
	color: #fff;
}
.wrapper{
	width: 680px;
	max-width: 70%;
	margin: 0 auto;
	padding-top: 8em;
	text-align: center;
}
input[type="text"]{
	width: 100%;
	border: none;
	font-size: 15px;
	padding: 1em 0.5em;
	border-radius: 3px;
	text-align: center;
}
input[type="submit"]{
	width: 150px;
	height: 50px;
	margin-top: 1.5em;
	font-size: 14px;
}